table{
    height: 1000px;
    width: 1800pxs;

}
body{
    background-color: cyan;
}
button{
    height:30px;
    width: 140px;
    background-color: brown;
    color:antiquewhite;
    cursor: pointer;
}
.last{
    height :50px;

}